extends layout

block content
  h1= title
  p(id="welcome") Welcome to #{title}!
  <form id="usernameForm" action="">
  <input id="username" autocomplete="off" /><button>Send</button>
  </form>
  div(id="gameInfo")
    p() Current round:&nbsp;
      span(id="currentRoundNum")
  p(id="clock")
  div(id="connectedUsers")
    h2 Connected Users
    ul(id="userList")
  div(id="teams")
    h2 Teams
    ul(id="teamList")
  button(type="button", id="startGameButton") Start Game
  div(id="cardDiv", class="card")
    p
      strong(id="cardText")
    p(id="cardPoints")
  button(type="button", id="skipButton") Skip
  button(type="button", id="correctButton") Correct
  p(id="currentTurnScore")
